/* Global Styles
===============*/

.grid-container{
	padding-left: 10px;
	padding-right: 10px;
	margin-left: auto;
	margin-right: auto;
}

img{
	height:100%;
	width: 100%;
}


/* Media Queries
========================= */

@media (min-width: 768px){

	/*Columns
	=============== */

	.grid-container > [class^="grid-"]{
		float:left;
		/* min-height prevents horizontal collapsing. */
		min-height:1px;
		padding-left: 10px;
		padding-right: 10px;
		margin-left: 2%; /* 20 px /1000 = .002.  This is the gutter.*/
	}
	/* This keeps the first column from having a gutter*/
	.grid-container > [class^="grid-"]:first-child{
		margin-left: 0;
	}

	/* This floats the last column flush to the right margin */
	.grid-container > [class^="grid-"]:last-child{
		float:right;
	}

	/* Columns are 65 px wide, with 20 px gutters.
	=============================================*/

	.grid-1{
		/* Target/Context=Result. 65px/1000px = .065.
		  One column doesn't need a gutter.
		===========================================================*/

		width:6.5%;
	}
	.grid-2{
		/* Need to take into account number of gutters between columns.
		==============================================================*/
		width: 15%;
	}
	.grid-3{
		 width: 23.5%;
	}
	.grid-4{
		width: 32%;
	}
	.grid-5{
		width: 40.5%;
	}
	.grid-6{
		width: 49%;
	}
	.grid-7{
		width: 57.5%;
	}
	.grid-8{
		width: 66%;
	}
	.grid-9{
		width: 74.5%;
	}
	.grid-10{
		width: 83%;
	}
	.grid-11{
		width: 91.5%;
	}
	.grid-12{
		width: 100%;
	}

	/* Clearfix
	=================== */

	.group:after,
	.grid-container:after{
		content: " ";
		display: table;
		clear: both;
	}
}