/***************************
WRAPPER, HEADER, NAV, FOOTER
****************************/
html{
	background:url('/graphics/boxerbackground.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	 -moz-background-size: cover;
	 -o-background-size: cover;
	 background-size: cover;

}
h1{
	font-family: 'IM Fell Great Primer SC', serif;
	font-size: 2.5em;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	color: white;
	text-shadow:5px 5px 3px #db5b00;
}
h2, h3,h4{
	font-family: 'IM Fell Great Primer SC', serif;
	font-size: 1.25em;
	margin-left: auto;
	margin-right: auto;
}
h2{
	color:black;
}
#wrapper{
	width:90%;
	margin-left: auto;
	margin-right:auto;
	height:auto;
}
header{
	width:100%;
	padding: 1%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
nav li{
	list-style: none;
	display:inline;
	width:25%;
	height:100%;
	margin-right:2%;
	
}
nav a{
	width:25%;
	height: 100%;
	font-family: 'Shadows Into Light', cursive;
	font-size:1.75em;
	
}
nav a:hover{
	font-weight:bold;
}
footer{
	width:100%;
	margin-top:3%;
	background:rgba(238,233,233,.4);
	height:auto;
}
.padded{
	padding-top: 1%;
	padding-bottom:1%;
}
.padded ul li{
	display:inline;
}
.padded img{
	margin-top:1%;
	height:64px;
	width:64px;
}
.padded img:hover{
	height:66px;
	width:66px;
}
/**************************
SECTION, CENTER
**************************/
.center{
	width:90%;
	margin-left: auto;
	margin-right:auto;
}
.info{
	text-align:center;
}
.info h2{
	font-size:1.5em;
	font-weight: bold;
	color:white;
}
.info h3,h4{
	font-family: 'IM Fell Great Primer SC', serif;
	font-size: 1.25em;
	color:white;
}
section{
	padding:5%;
}
section p{
	font-size: 1.25em;
	color:white;
	line-height: 150%;
	text-indent: 1.5em;
}
section > h2{
	font-family: 'Shadows Into Light', cursive;
	color: #db5b00;
	font-size: 1.75em;
	font-weight: bold;
	text-align: center;
}
.selected{
	color:#db5b00;
	font-weight: bold;
	font-size: 2em;
}
#map_canvas{
	width:50%;
	height:75%;
	border:3px solid #db5b00;
	margin-left:auto;
	margin-right:auto;
	margin-top:1%;
}
iframe{
  display: block;
  height: 75%;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  border: 10px solid rgba(76,76,76,1);
}


/********
Responsive Slider
********/
.rslides_container{
width:75%;
margin-left:auto;
margin-right:auto;
position:relative;
}
.rslides {
  margin: 0 auto;
  }
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }
  .rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  border: 5px solid rgba(76,76,76,1);
 }
.caption {
position: absolute;
display: block;
bottom: 0;
left: 0;
right: 0;
margin-right:auto;
margin-left:auto;
width:75%;
padding: 15px;
text-align: center;
background: #000;
background: rgba(0,0,0, .8);
color: #fff;
}

.centered-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 50%;
  left: 0;
  opacity: 0.7;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: transparent url("/graphics/themes.gif") no-repeat left top;
  margin-top: -45px;
  }

.centered-btns_nav:active {
  opacity: 1.0;
  }

.centered-btns_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
  }

.transparent-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 0;
  left: 0;
  display: block;
  background: #fff; /* Fix for IE6-9 */
  opacity: 0;
  filter: alpha(opacity=1);
  width: 48%;
  text-indent: -9999px;
  overflow: hidden;
  height: 91%;
  }

.transparent-btns_nav.next {
  left: auto;
  right: 0;
  }

.large-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  opacity: 0.6;
  text-indent: -9999px;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  background: #000 url("themes.gif") no-repeat left 50%;
  width: 38px;
  }

.large-btns_nav:active {
  opacity: 1.0;
  }

.large-btns_nav.next {
  left: auto;
  background-position: right 50%;
  right: 0;
  }

.centered-btns_nav:focus,
.transparent-btns_nav:focus,
.large-btns_nav:focus {
  outline: none;
  }

.centered-btns_tabs,
.transparent-btns_tabs,
.large-btns_tabs {
  margin-top: 10px;
  text-align: center;
  }

.centered-btns_tabs li,
.transparent-btns_tabs li,
.large-btns_tabs li {
  display: inline;
  float: none;
  _float: left;
  *float: left;
  margin-right: 5px;
  }

.centered-btns_tabs a,
.transparent-btns_tabs a,
.large-btns_tabs a {
  text-indent: -9999px;
  overflow: hidden;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: #ccc;
  background: rgba(0,0,0, .2);
  display: inline-block;
  _display: block;
  *display: block;
  -webkit-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  -moz-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  width: 9px;
  height: 9px;
  }

.centered-btns_here a,
.transparent-btns_here a,
.large-btns_here a {
  background: #222;
  background: rgba(0,0,0, .8);
  }

/***************************
GENERAL ELEMENTS
***************************/
a{
	text-decoration: none;
	color: white;
	font-size: 1.25em;
}
